<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
      <a href="#" class="back link">
        <i class="icon f7-icons ios-only">chevron_left</i>
      </a>
    </div>
    <div class="center sliding">
      <img src="img/logo.png">
    </div>
    <div class="right">
      <!-- <a href="#" class="link icon-only">
       <i class="icon f7-icons ios-only">camera_fill</i>
     </a> -->
   </div>
 </div>
</div>
<div class="pages">

 <div class="page" data-page="getstatusm">
   <div class="page-content">

      <div class="row">
        <div class="col-50">
          
        </div>
        <div class="col-50">
          <select class="content-block-title color-srithai getinm">
            <option>ตุลาคม 2562</option>
            <option>กันยายน 2562</option>
          </select>
        </div>
      </div>
      
      <div class="content-block-title">ส่งสินค้าเมื่อ <strong class="color-srithai">19 ตุลาคม 2562</strong></div>

      <div class="data-table card">
        <table>
          <thead>
            <tr>
              <th class="label-cell">Desert (100g serving)</th>
              <th class="numeric-cell">Calories</th>
              <th class="tablet-only">Comment</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="label-cell">Frozen yogurt</td>
              <td class="numeric-cell">159</td>
              <td class="tablet-only">I like it!</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="content-block-title">ส่งสินค้าเมื่อ <strong class="color-srithai">18 ตุลาคม 2562</strong></div>

      <div class="data-table card">
        <table>
          <thead>
            <tr>
              <th class="label-cell">Desert (100g serving)</th>
              <th class="numeric-cell">Calories</th>
              <th class="tablet-only">Comment</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="label-cell">Frozen yogurt</td>
              <td class="numeric-cell">159</td>
              <td class="tablet-only">I like it!</td>
            </tr>
          </tbody>
        </table>
      </div>

      
    </div>
  </div>
 
</div>