<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
      <a href="#" class="back link">
        <i class="icon f7-icons ios-only">chevron_left</i>
      </a>
    </div>
    <div class="center sliding">
      <img src="img/logo.png">
    </div>
    <div class="right">

   </div>
 </div>
</div>
<div class="pages">

 <div class="page" data-page="getstatus">
   <div class="page-content">

      
    </div>
  </div>
 
</div>