<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
      <a href="#" class="back link">
        <i class="icon f7-icons ios-only">chevron_left</i>
      </a>
    </div>
    <div class="center sliding">
      <img src="img/logo.png">
    </div>
    <div class="right">
      <!-- <a href="#" class="link icon-only">
       <i class="icon f7-icons ios-only">camera_fill</i>
     </a> -->
   </div>
 </div>
</div>
<div class="pages">

 <div class="page" data-page="goto_alert_fill">
   <div class="page-content">

      <div class="content-block-title color-srithai">รายละเอียดปัญหา 19 ตุลาคม 2562</div>

      <textarea class="card reportsrithai" placeholder="Your name"></textarea>

      <div class="content-block-title color-srithai">ถ่ายภาพ</div>

      <div class="row">
        <div class="col-33">
          <div class="text-align-right mt-20">
            <button class="btn-start btn-srithaigo">
              <i class="icon f7-icons f7-icon-large ios-only">camera_fill</i>
            </button>
          </div>
        </div>
        <div class="col-33">
          <div class="text-align-center mt-20">
            <button class="btn-start btn-srithaigo">
              <i class="icon f7-icons f7-icon-large ios-only">camera_fill</i>
            </button>
          </div>
        </div>
        <div class="col-33">
          <div class="text-align-left mt-20">
            <button class="btn-start btn-srithaigo">
              <i class="icon f7-icons f7-icon-large ios-only">camera_fill</i>
            </button>
          </div>
        </div>
      </div>

      <div class="content-block">
       <a href="#" class="button button-fill color-pink">แจ้งปัญหา</a>
      </div>


      <div class="content-block-title color-srithai">รายการแจ้งปัญหา</div>

      <div class="data-table card">
        <table>
          <thead>
            <tr>
              <th class="label-cell">Desert (100g serving)</th>
              <th class="numeric-cell">Calories</th>
              <th class="tablet-only">Comment</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="label-cell">Frozen yogurt</td>
              <td class="numeric-cell">159</td>
              <td class="tablet-only">I like it!</td>
            </tr>
          </tbody>
        </table>
      </div>

      
    </div>
  </div>
 
</div>