<div class="navbar">
  <div class="navbar-inner">
    <div class="left">

    </div>
    <div class="center sliding namecustomer">
      
    </div>
    <div class="right">

   </div>
 </div>
</div>
<div class="pages">

  <div class="page" data-page="index">

    <div class="page-content">

      <div class="text-align-center mt-50">
        <img src="img/logo.png">
      </div>
      <div class="row">
        <div class="col-100">
          <div class="text-align-center mt-20">
            <button class="btn-start btn-srithaigo goto_barcode_fill">
              <i class="icon f7-icons f7-icon-large ios-only">barcode_fill</i> แสกนรับสินค้า
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-100">
          <div class="text-align-center mt-20">
            <button class="btn-start btn-srithaigo goto_document_check_fill">
              <i class="icon f7-icons f7-icon-large ios-only">document_check_fill</i> สถานะสินค้า
            </button>
          </div>
        </div>
      </div>

      
      <div class="row">
        <div class="col-50">
          <div class="text-align-right mt-20">
            <button class="btn-start btn-srithaigo-02 goto_time_fill">
              <i class="icon f7-icons f7-icon-large ios-only">time_fill</i>
              <div class="mt-8">
                รายการสั่งชื้อประจำเดือน
              </div>
            </button>
          </div>
        </div>
        <div class="col-50">
          <div class="text-align-left mt-20">
            <button class="btn-start btn-srithaigo-04 goto_alert_fill">
              <i class="icon f7-icons f7-icon-large ios-only">alert_fill</i>
              <div class="mt-8">
                แจ้งปัญหาการรับ
              </div>
            </button>
          </div>
        </div>
      </div>

      <hr class="hr-srithai">

      <div class="row">
        <div class="col-100">
          <div class="text-align-center mt-20">
            <button class="btn-start btn-srithaigo-03 goto_exit_fill">
              <i class="icon f7-icons ios-only">exit_fill</i> ออกจากระบบ
            </button>
          </div>
        </div>
      </div>

      
    </div>
  </div>

</div>