* {
	outline: none;
}

.mt-50{
	margin-top: 50px;
}
.mt-40{
	margin-top: 40px;
}
.mt-30{
	margin-top: 30px;
}
.mt-20{
	margin-top: 20px;
}
.mt-10{
	margin-top: 10px;
}
.mt-8{
	margin-top: 8px;
}
.btn-start{
	transition: .5s;
}
.btn-srithaigo{
	width: 90%;
	border: 2px solid #fff;
	border-radius: 10px;
	height: 100px;
	background-color: #2f419a;
	color: white;
	font-size: large;
}
.btn-srithaigo:hover,.btn-srithaigo:focus{
	background-color: #1e3294;
}

.f7-icon-large{
	font-size: -webkit-xxx-large;
}

.btn-srithaigo-02 {
	width: 90%;
	border: 2px solid #2f419a;
	border-radius: 10px;
	height: 150px;
	background-color: #fff;
	color: #2f419a;
	font-size: large;
}

.btn-srithaigo-02:hover, .btn-srithaigo-02:focus {
	background-color: #e3e4e8;
}

.btn-srithaigo-03 {
	width: 90%;
	border: 0;
	border-radius: 0;
	height: auto;
	background-color: transparent;
	color: #9E9E9E;
	font-size: inherit;
}

.btn-srithaigo-04 {
	width: 90%;
	border: 2px solid #9E9E9E;
	border-radius: 10px;
	height: 150px;
	background-color: #fff;
	color: #9E9E9E;
	font-size: large;
}

.hr-srithai{
	width: 70%;
	margin-top: 40px;
	border-top: 1px solid rgb(230, 230, 230);
}

:root {
	--f7-theme-color: #3F51B5;
	--f7-theme-color-rgb: 0, 122, 255;
	--f7-theme-color-shade: #2f419a;
	--f7-theme-color-tint: #2f419a;
}

.color-srithai{
	color:#3F51B5;
}

.bg-getin{
	height: 60px;
	margin-bottom: -20px;
	border-radius: 10px;
	border: 2px solid #fff;
	padding: 5px;
	font-size: initial;
	color: white;
	text-align: -webkit-right;
}

.bg-getin-01{
	background: #696666;
}

.bg-getin-02{
	background: #3F51B5;
}

.bg-getin-03{
	background: #FFC107;
}

.getinm{
	border: 2px solid #3F51B5;
	width: -webkit-fill-available;
	padding: 5px;
	margin-top: 20px;
}
.reportsrithai{
	width: -webkit-fill-available;
	height: 120px;
	padding: 5px;
}

.display-flex{
	display: flex;
}
.align-items-center{
	align-items: center;
}

.justify-content-center{
	justify-content: center;
}
.text-align-center{
	text-align: center;
}
.text-align-right{
	text-align: right;
}
.text-align-left{
	text-align: left;
}
.form-checkbox i, label.label-checkbox i.icon-form-checkbox {
    border-radius: 0px;
}